// Main color
$main-bg-dark-color: "#1E1E1E";
$main-bg-light-color: "#FFFFFF";


// Content color
$main-content-bg-dark-color: "#09111B";
$main-content-bg-light-color: "#F9F8F7";

// Text color
$main-text-dark-color: "##FFFFFF";
$main-text-light-color: "#0F1826";

// More icon color
$more-icon-dark-color: "#13E0B2E5";
$more-icon-light-color: "#F9F8F7";

// Video play text color
$video-text-dark-color: "#FFFFFF";
$video-text-light-color: "#000000";

$video-back-dark-color: "#021923";
$video-back-light-color: "#FFFFFF";

// Footer text color
$footer-text-dark-color: "#FFFFFF";
$footer-text-dark-color: "#607987";