// Main color
$main-bg-color: "#FFFFFF";


// Content color
$main-content-bg-color: "#F9F8F7";
// $main-content-bg-color: "#09111B";

// Text color
$main-text-color: "##FFFFFF";
// $main-text-color: "#0F1826";

// More icon color
$more-icon-color: "#F9F8F7";
// $more-icon-color: "#13E0B2E5";

// Video play text color
$video-text-color: "#FFFFFF";
// $video-text-color: "#000000";

$video-back-color: "#021923";
// $video-back-color: "#FFFFFF";

// Footer text color
$footer-text-color: "#FFFFFF";
// $footer-text-color: "#607987";

.dark {
  // Content color
  // $main-content-bg-color: "#F9F8F7";
  $main-content-bg-color: "#09111B";

  // Text color
  // $main-text-color: "##FFFFFF";
  $main-text-color: "#0F1826";

  // More icon color
  // $more-icon-color: "#F9F8F7";
  $more-icon-color: "#13E0B2E5";

  // Video play text color
  // $video-text-color: "#FFFFFF";
  $video-text-color: "#000000";

  // $video-back-color: "#021923";
  $video-back-color: "#FFFFFF";

  // Footer text color
  // $footer-text-color: "#FFFFFF";
  $footer-text-color: "#607987";
}