:root {
  // Main color
  --main-bg-color: #FFFFFF;
  // Header bg color
  --header-bg-color: #F1F0EE;
  --hero-text-color: #021923;
  // Content color
  --main-content-bg-color: #F1F0EE;
  // Text color
  --main-text-color: #0F1826;
  // More icon color
  --more-icon-color: #F9F8F7;
  // Video play text color
  --video-text-color: #FFFFFF;

  --video-back-color: #021923;
  // Footer text color
  --footer-text-color: #FFFFFF;
  // Mode bg color
  --mode-bg-color: #F5F5F5;

}

.dark {
  // Main color
  --main-bg-color: #1E1E1E;
  // Header bg color
  --header-bg-color: #0F1826;
  --hero-text-color: #FFFFFF;
  // Content color
  --main-content-bg-color: #09111B;
  // Text color
  --main-text-color: #FFFFFF;
  // More icon color
  --more-icon-color: #13E0B2E5;
  // Video play text color
  --video-text-color: #000000;
  --video-back-color: #FFFFFF;
  // Footer text color
  --footer-text-color: #607987;
  // Mode bg color
  --mode-bg-color: #272727;
}