//**************//
//*** HEADER ***//
//**************//
.site-header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 17px 0;
  background-color: #F1F0EE;
}

.site-header__inner {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar__item+.navbar__item {
  margin-left: 35px;
}

.navbar__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}

.login-btn {
  margin-left: 35px;
  padding: 11px 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  background-color: #FFFFFF;
  border-radius: 100px;
}

.mode-btn {
  padding: 15px;
  margin-left: 35px;
  background-color: #F5F5F5;
  border-radius: 50%;
}

.mode-btn:active {
  background-color: #BD8F5B;
}

.menu-btn {
  display: none;
  margin-left: 16px;
}

//************//
//***TABLET***//
//************//
@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .login-btn {
    margin-left: auto;
  }
}

//************//
//***MOBILE***//
//************//
@media only screen and (max-width: 576px) {
  .logo__pic {
    width: 185px;
    height: 40px;
  }

  .login-btn {
    padding: 7px 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  .mode-btn {
    display: none;
  }

  .menu-btn {
    display: inline-block;
  }
}

//******************//
//*** HEADER END ***//
//******************//